<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workspaces</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <div>
          <li><a href="/">Home</a></li>
          <% if (signedIn) { %>
          <li><a href="dashboard">Dashboard</a></li>
          <% } %>
          <li><a href="users">Users</a></li>
        </div>

        <div>
          <% if (signedIn) { %>
          <li><a href="logout">Logout</a></li>
          <% } else { %>
          <li><a href="login">Login</a></li>
          <li><a href="signup">Signup</a></li>
          <% } %>
        </div>
      </ul>
    </nav>
    <header class="page-header">
      <h1>Employee Manager</h1>
      <p>focus on people and not on the paperwork</p>
      <a href="signup">free demo sign up</a>
      <a href="login">account login</a>
    </header>
  </body>
</html>
