.navbar {
  padding: 1rem;
  box-shadow: 0 0 3px 0 grey;
  ul {
    display: flex;
    justify-content: space-between;

    div {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      li {
        margin-left: 10px;
      }
    }
  }
  a {
    color: rgb(82, 99, 114);
    text-decoration: none;
  }
}
